.messages-container {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background-color: transparent;
  overflow-y: scroll;
  gap: 15px;
  padding: 15px;
}

.messages-container::-webkit-scrollbar {
  width: 0;
}
